@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: gainsboro;
}

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 1rem;
    filter: drop-shadow(0 0 0.4rem black);
}
q{
    color: green;
    font-size: 20px;
}
 
ul {
    list-style: none;
}

.personal,
.languges,
.Skills {
    padding: 1rem;
    line-height: 2;
}

.left, .experience, .education {
    background-color: #fff;
}

.left-image img {
    width: 100%;
}

.left-image {
    position: relative;
}

.left-image h2 {
    position: absolute;
    bottom: 0%;
    color: aliceblue;
    left: 1rem;
}

.current {
    background-color: green;
    color: #fff;
    padding: 0.4rem;
    border-radius: 3px;
}

.date {
    color: green;
    word-spacing: 30%;
}

.experience,
.education {
    line-height: 2;
    padding: 2rem;
}

.experience ul {
    margin: 2rem 0;
}


.education ul {
    margin: 2rem 0;
}

i {
    color: green;
    display: inline-block;
    margin-right: 0.5rem;
}

footer {
    background-color: green;
    padding: 2rem 0;
    text-align: center;
    line-height: 1.5;
}

footer i {
    color: #fff;
}

nav {
    float: right;
}


a:hover {
    color: rgb(35, 78, 92);
}

a {
    color: green;
}

h1 {
    color: green;
}

h2 {
    color: green;
}

input {
    display: block;
    font-size: 20px;

}


.imgg {
    height: 300px;
    width: 300px;
}

.p {
    display: inline; /* the default for span */
    width: 500px;
    height: 100px;
    padding: 2rem;
    border: 1px solid black;  
    background-color: lightgray; 
  }